body {
    background-color:#dddddd;
}

h1{
      font-family:Arial, Helvetica, sans-serif;
      text-align:center;
      font-size:300%;
}

h2{
    font-family: 'Pacifico', cursive;
    text-align:center;
    font-style:italic;
    font-size:300%;
    margin-top:-10px;
    margin-bottom:25px;
}
 

.row sea{
    background-image:url(sea-tuscany.jpg);
    position: relative; 
    width: 100%;
    margin-left:-15px;
    margin-left:-15px;
    background-image:url(landscape-of-tuscany.jpg);
}

.col_p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:225%;
    font-style: italic;
    position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%;
   text-align:center;
}

.square{
    float:left;
    position: relative;
    width:25%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:0%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}

.img_2-1{
    background-image:url(tuscany-wall-1464570.jpg)
}

.img_2-2{
    background-image:url(tuscan-door-1-1227016.jpg)
}

.img_2-3{
    background-image:url(vintage-car.jpg)
}



   
.r2c1{
    font-family:Arial, Helvetica, sans-serif;
    font-size:100%;
    font-style: italic;
    position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%;
   text-align:center;
} 
   
.car{
    height:auto;
    max-width:100%;
}