body {
    background-color:#D2D2D2;
}

body:hover{
    background-color:#a7b2fa
}

h1{
      font-family:Arial, Helvetica, sans-serif;
      text-align:center;
      font-size:300%;
      
}

h2{
    font-family: 'Pacifico', cursive;
    text-align:center;
    font-style:italic;
    font-size:300%;
    margin-top:-10px;
    margin-bottom:25px;
}
 

.row sea{
    background-image:url(sea-tuscany.jpg);
    position: relative; 
    width: 100%;
    margin-left:-15px;
    margin-left:-15px;
    background-image:url(landscape-of-tuscany.jpg);

}


.col_p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:225%;
    font-style: italic;
    color:#ffffff;
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%;
    text-align:center;
    display:inline;
    background-color:#676262;
    opacity:0.6;
  
}

.square{
    float:left;
    position: relative;  
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:0%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height:225px;
}

.square_2{ 
    float:left;
    position: relative;
 
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:0%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

}
.square_3{
    float:left;
    position:absolute;  
    padding-bottom :10%; /* = width for a 1:1 aspect ratio */
    margin:0%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height:50px;
}

.img_1-1{
    background-image:url(landscape-of-tuscany.jpg)
}

.img_1-2{
    background-image:url(sea-tuscany.jpg)
}


.img_2-1{
    background-image:url(porto-zante-villas.jpg)
}

.img_2-2{
    background-image:url(villawickie1.jpg)
    
}

.img_2-3{
    background-image:url(quinta-do-lago-.png)
}

.img_3-1{
    background-image:url(hotel-villa-carlotta.jpg)
}

.img_3-2{
    background-image:url(venice-in-summer-1158283.jpg)
}

.img_4-1{
    background-image:url(chalet-beranger.png)
}

.img_4-2{
    background-image:url(energy-blue.jpg);
    
}
   
.r2c1{
    font-family:Arial, Helvetica, sans-serif;
    font-size:200%;
    font-style: italic;
    position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%;
   text-align:center;
}

.h-2{
    font-family:Arial, Helvetica, sans-serif;
    font-size:175%;
    font-style: italic;
    position:relative; 
   top: 200px; 
   left: 0; 
   width: 100%;
   text-align:center;
}

.p-2{
    font-family:Arial, Helvetica, sans-serif;
    font-size:175%;
    font-style: italic;
    position:relative; 
   top: 200px; 
   left: 0; 
   width: 100%;
   text-align:center;
}

.p_3{
    font-family:Arial, Helvetica, sans-serif;
    font-size:200%;
    font-style: italic;
    position:relative; 
   top: 200px; 
   left: 0; 
   width: 100%;
   text-align:center;
   color:#ffffff;
   display:inline-block;
   background-color:#676262;
    opacity:0.6;
}

footer{
max-height:100px;

}

.p_f {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    font-style: italic;
    position: relative;
    top: 50px;
    left: 0;
    width: 100%;  
}

.feature{
    font-size:800%;
    color:#ef970b;
}

article{
    background-color:#676262;
}